body {
    font-family: 'Rubik', sans-serif;
}
.navbar{
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 88%;
    font-size: 1.2rem;
    padding: 1rem;
}
nav a{
	padding: 0 1.5rem;
	text-decoration: none;
	color: #000;
}
nav a:hover {
	text-decoration: none;
	color: #000;
}
#about{
	margin-top: 50px;
	padding-top: 30px;
}
img {
    max-width: 500px;
    height: auto%;
    margin: 0;
}
#selfie{
	max-width: 500px;
	border-radius: 300px;
	padding-left: 80px;
	padding-right: 10%;
}
.essay {
    font-size: 12px;
    text-align: justify;
}
.resume-button {
    display: flex;
    justify-content: center;
	margin-bottom: 15px;
}
.about{
	width:100%;
}
#skills{
	background-color: #F8F9FA;
	height:320px;
	padding-top: 20px;
}


.circle{
	display:inline-block;
	background-color: #283EBD;
	position: absolute;
	height: 160px;
	width: 160px;
	box-shadow: -6px 1px 1px #3e3f42db;
	border-radius: 100%;
	padding:10px;
}
span {
	margin: auto;
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 24%;
	color: #fff;
	position: relative;
	top: 35%;
}
.span3, .span4{
	padding-left:20px;
}
.circle:nth-child(1){
	left: 23%;
}
.circle:nth-child(2){
	left: 30%;
	background-color: #4FFFFE;
}
.circle:nth-child(3){
	left: 37%;
	background-color: #FF2340;
}
.circle:nth-child(4){
	left: 44%;
	background-color: #8B0CE8;
}
.circle:nth-child(5){
	left: 51%;
	background-color: #E654E8;
}
.circle:nth-child(6){
	left: 58%;
	background-color: #25D630;
}
.circle:nth-child(7){
	left: 65%;
	background-color: #4347CE;
}
.altSpan{
	display:none;
}
#skills, #projects{
	margin: 20px 0;
}
.row{
	margin:0;
}
.card-img-top{
	border-radius: none;
	padding: 0;
}
.card{
	padding: 0;
	text-align: center;
}


.footer{
	display: flex;
	justify-content: space-around;
	background-color: #F8F9FA;
	padding: 1rem;
}
.footer a {
	font-family: "Italianno", "sans-serif";
	font-size: 1.5rem;
	text-decoration: none;
	color:#000;
	padding-right: 1.25rem;

}






